[FORMAT]
# Good variable names which should always be accepted, separated by a comma
good-names=i,j,k,v,_,pk,x,y,f,logger,config

[MISCELLANEOUS]
# List of note tags to take in consideration, separated by a comma.
notes=XXX
